@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .triangle-b-r  {
    width: 0;
    height: 0;
    border-bottom: 2rem solid rgb(255, 251, 248);
    border-left: 2rem solid transparent;
  }
}